<div id="parent">
  <div class="container">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="row" style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
            <div class="title text-center my-5">
                <span class="h3 text-primary">
                    Application Resources Managers
                </span>
            </div>
            <div class="alert alert-danger" *ngIf="mode==1">
                <strong>Check your name or password</strong>
            </div>
            <div class="col-12 col-md-8 p-2 col-lg-6 shadow">
              
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input  name="username"  type="name" ngModel="" class="form-control"  placeholder="User Name" />
                </div>
                <div class="form-group my-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input  name="password"  type="password" ngModel="" class="form-control"  placeholder="Password">
                </div>

                <div class="form-group col-4 offset-8 text-center text-primary" style="cursor: pointer;">
                    <a class="form-check-label" for="exampleCheck1">Forget password?</a>
                </div>
                    <button type="submit"  class="btn btn-lg btn-block btn-primary col-12 my-4">Sign in</button>
            </div>
        </div>
      </form>
</div>
</div>
